:root {
	--app-header-height: 52px;
	--app-body-height: calc(100vh - 52px);
	--app-sidebar-width-o: 58px;
	--app-sidebar-width-c: 170px;
}

.mantine-ScrollArea-viewport > div {
	display: block !important;
}

.mantine-InputWrapper-label {
	width: 100%;
	overflow-x: hidden;
	text-overflow: ellipsis;
	text-wrap-mode: nowrap;
}

.bb {
	border-bottom: 1px solid
		light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.bt {
	border-top: 1px solid
		light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.full {
	flex: 1;
	width: 100%;
	height: 100%;
}
