.nav {
  /*background-color: var(--mantine-color-dark-6);*/
  display: flex;
  flex-direction: column;
  width: var(--app-sidebar-width-o);
  height: 100%;
  transition: width 0.2s ease-in-out;

  &[data-opened="true"] {
    width: var(--app-sidebar-width-c);
  }
}

.scroll {
  width: 100%;

  flex: 1;
}

.linkButton {
  padding: var(--mantine-spacing-xs);
  width: 100%;

  &:hover {
    background-color: var(--mantine-color-dark-8);
  }

  &[data-active="true"] {
    color: var(--mantine-color-blue-1);
    background-color: rgba(24, 100, 171, .45);
    border-left: 3px solid var(--mantine-color-blue-5);
    font-weight: 500;
  }
}

.linkInner {
  height: 30px;
  font-size: var(--mantine-font-size-sm);
  flex-wrap: nowrap;
  gap: var(--mantine-spacing-xs);
  justify-content: center;

  &>span {
    display: none;
  }

  &[data-with-label="true"] {
    justify-content: flex-start;

    &>span {
      display: block;
    }
  }
}