"use server";

import { createEntityActions } from "../next-gs";

import { %{Entity}, resource } from "../models/%{entity}";

const {
  persist: %{entity}Persist,
  destroy: %{entity}Destroy,
  findOne: %{entity}FindOne,
  findMany: %{entity}FindMany,
} = await createEntityActions<%{Entity}>(resource);

export { %{entity}Persist, %{entity}Destroy, %{entity}FindOne, %{entity}FindMany };
